* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 20px Arial, sans-serif;
}

html {
	height: 100%;
	background: #A5D7DF;
	background-size: cover;
}

body{
	height: 100%;
}

#root{
	height: 100%;
  display: flex;
  align-items: center;
}

